
@font-face {
font-family: "GrandSlang-Roman";
src: url("https://p4lmtree.github.io/multipleselfwebsite/GrandSlang-Roman.woff");
}

body{
    font-family: Guardi LT Std;
    font-size: 12px;
    text-align: justify;
    margin: 0 auto;
    padding: 0 130px;
    max-width: 400px;

}

header{
    background-color: blue;
    margin: auto;
    padding: 50px;
}

h1{
    text-align: center;
    color: black;
    font-family: 'GrandSlang-Roman';
    font-weight: 100;
    margin: 30px;

}

h1:hover{
    color: blue;
}

h2 img{
    
    max-width: 100%;
    align-content: center;

}

main{
    max-width: 100px;
  
    
}

a {
    color: black;
    text-decoration: none;
    margin: 120px;
}

a:hover{
    color: blue
}




